.pagination {
    flex-wrap: wrap;
    justify-content: center;
}

th:has(div) {
    display: flex;
}

td {
    width: 15%;
}

.container {
    margin: auto;
    margin-top: 10px;
}

nav {
    width: 100%;
}